form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 20px;
  }
  
  .field {
    display: flex;
    flex-direction: column;
  }
  
  .input, .select, .button {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .button {
    background-color: palevioletred;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: tomato;
  }